* {
	position: relative;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;;
	align-items: center;
	overflow: hidden;
}

canvas {
	background: #000000;
}