<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Game | Untitled</title>
	<link rel="stylesheet" type="text/css" href="css/game.css">
</head>
<body>
	<script src="js/jquery.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="js/p2.min.js"></script>
	<script src="js/pixi.min.js"></script>
	<script src="js/app-client.js"></script>
</body>
</html>